# Eclipse stuff
/.classpath
/.project
/.settings

# netbeans
/nbproject

# we use maven!
/build.xml

# maven
/target

# vim
.*.sw[a-p]

# various other potential build files
/build
/bin
/dist
/manifest.mf

# Other Libraries
*.jar

# librarian2 targets
/librarian2-commons/target/
/librarian2-ejb/target/
/librarian2-web/target/
/librarian2-ear/target/